.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:relative;
	width: 100%;
	margin: 5em auto;
	font-family: 'Roboto', sans-serif;
}

.layout__navigation {
	top: 0;
	width: 100%;
	background: white;
	position: fixed;

	&.layout__navigation--without-background {
		background: transparent;
	}
}

.layout__content {
	padding: 0 0.75em;
}